@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-label {
      @apply mb-2 text-sm text-gray-500;
    }

    .form-input {
        @apply border-gray-300 rounded-md;
      }

    .btn-primary {
        @apply inline-block mt-8 px-4 py-2 bg-indigo-600 hover:bg-indigo-500 text-sm text-gray-100 duration-300;
    }
  }